@import "tailwindcss";
@import "./styles/variables.css";

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondry: var(--color-secondry);
  --color-secondry-dark: var(--color-secondry-dark);
  --color-primary-light: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-border-divider: var(--color-border-divider);
  --color-border-focus: var(--color-border-focus);
  --color-box-shadow: var(--color-box-shadow);
  --color-error: var(--color-error);
  --color-border-error: var(--color-border-error);

  --color-status-applied: var(--color-status-applied);
  --color-status-more-info: var(--color-status-more-info);
  --color-status-phone-interview: var(--color-status-phone-interview);
  --color-status-technical-interview: var(--color-status-technical-interview);
  --color-status-offer: var(--color-status-offer);
  --color-status-rejected: var(--color-status-rejected);
  --color-status-no-response: var(--color-status-no-response);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-primary);
  font-weight: 600;
}

button {
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
  font-family: var(--font-secondary);
}

button:hover {
  cursor: pointer;
}

button.toggle-filter {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

input,
textarea,
select {
  border-radius: 0.375rem;
  padding: 0.5rem;
  color: var(--color-text-primary);
  font-family: var(--font-secondary);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-border-focus);
  box-shadow: 0 0 0 3px var(--color-box-shadow);
}

input::placeholder {
  color: var(--color-text-secondary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-surface) inset !important;
  -webkit-text-fill-color: var(--color-text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}
